
.form {
    width: 25%;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    padding: 25px;
    border-radius: 10px;
    display: block;
    text-align: center;
    border: 1px solid #dddddd;
}