<form class="form p20" [formGroup]="roleForm">
  <label class="m20 label">{{ actionText }}</label>
  <mat-form-field class="width100 m40">
    <mat-label>Role Name</mat-label>
    <input matInput placeholder="Enter role name" formControlName="roleName" />
    <mat-error *ngIf="roleForm.controls['roleName'].hasError('required')">
      Role name is required.
    </mat-error>
    <mat-error *ngIf="roleForm.controls['roleName'].hasError('minlength')">
      Role name must be at least 3 characters long.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="width100 m20">
    <mat-label>Permissions</mat-label>
    <mat-select formControlName="permissions" multiple>
      @for (permission of permissions; track permission) {
      <mat-option [value]="permission.value">{{
        permission.viewValue
      }}</mat-option>
      }
    </mat-select>
    <mat-error *ngIf="roleForm.controls['permissions'].hasError('required')">
      At least one permission is required.
    </mat-error>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-raised-button class="m20" (click)="closeDialog()">
      Cancel
    </button>
    <button mat-flat-button class="m20" (click)="onSumbitHandler()">
      {{ actionText }}
    </button>
  </div>
</form>
