<div>
  <div class="header">
    <h2>User Management</h2>
    <button mat-raised-button (click)="logout()">Logout</button>
  </div>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="left-container">
      <ul>
        <li *ngFor="let link of links">
          <a routerLink="{{ link.path }}">
            {{ link.name }}
          </a>
        </li>
      </ul>
    </mat-drawer>
    <mat-drawer-content class="right-container"
      ><router-outlet
    /></mat-drawer-content>
  </mat-drawer-container>
</div>
